
@{
    ViewBag.Title = "StaffHomePage";
}

<h2>StaffHomePage</h2>

@{
    var staffInfo = (CollegeAdministration.Models.Staff)Session["userStaff"];
}

<div>
    Student id: @staffInfo.staffId <br />
    Student Name: @staffInfo.facultyName

</div>