@model CollegeAdministration.Models.Staff

@{
    ViewBag.Title = "StaffHome";
    Layout = "~/Views/Shared/_StaffLayoutPage1.cshtml";
}
<br /><br />
<h3>Hello @Html.DisplayFor(model => model.facultyName)</h3>