@model CollegeAdministration.Models.Student

@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/_StudentLayoutPage1.cshtml";
}

<h3>Hello @Html.DisplayFor(model => model.studentName)</h3>

